<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>
<div class="workingArea">
    <table>
        <thead>
            <tr>
                <th>title</th>
                <th>content</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td text="${post.pid}"></td>
                <td text="${post.title}"></td>
                <td text="${post.content}"></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>