<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>

        table {
            border-collapse:collapse;
            width:400px;
            margin:20px auto;
        }
        td,th{
            border:1px solid gray;
        }


    </style>
</head>
<body>
    <form action="/user/add" method="post">
        <a>username</a>
        <input name="username" placeholder="username">
        <br/>
        <a>password</a>
        <input name="password" placeholder="password">
        <button>register</button>
    </form>
</body>
</html>